{
  "extends": [
    "standard",
    "prettier",
    "plugin:node/recommended"
  ],
  "plugins": [
    "prettier",
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "prettier/prettier": "error",
    "standard/no-callback-literal": "off",
    "no-unexpected-multiline": "off",
    "no-return-await": "off",
    "node/no-deprecated-api": "off",
    "node/no-missing-require": [
      "error",
      {
        "allowModules": [
          "testHelpers"
        ]
      }
    ],
    "no-process-exit": "off",
    "node/shebang": "off",
    "camelcase": [
      "error",
      {
        "allow": [
          "^testIfKafka_*"
        ]
      }
    ]
  },
  "env": {
    "jest": true,
  }
}