.DS_Store
test-report.xml
junit.xml
coverage/
yarn-error.log
**/*.spec.js
!src/retry/defaults.test.js
__tests__
fixtures
testHelpers/
scripts/
examples/
docker-compose.yml
jest.config.js
.prettierrc
.eslintrc
.eslintignore
.travis.yml
