.DS_Store
test-report.xml
junit.xml
coverage/
yarn-error.log
yarn.lock
**/*.spec.js
!src/retry/defaults.test.js
__tests__
__snapshots__
fixtures
testHelpers/
scripts/
examples/
docs/
website/
docker-compose.yml
docker-compose.*.yml
jest.config.js
.prettierrc
.prettierignore
.eslintrc
.eslintignore
.travis.yml
azure-pipelines.yml
*.png
*.svg
logo
*.tgz
.vscode/
*.java
types/tests.ts
types/tsconfig.json
.github/
