:root{
  --ifm-color-primary-lightest: #17152A;
  --ifm-color-primary-lighter: #151225;
  --ifm-color-primary-light: #141223;
  --ifm-color-primary: #121020;
  --ifm-color-primary-dark: #100E1D;
  --ifm-color-primary-darker: #0F0E1B;
  --ifm-color-primary-darkest: #0D0B16;
}

/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.75rem 1rem;
  background: #f6f6f6;
  border-left: 2px solid #d0d4c7;
  color: black;
}

blockquote {
  padding: .75rem 1.25rem .75rem .75rem;
  border-left: .5rem solid #ffe564
}

.footer__logo {
  max-width: 5rem;
}