/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.75rem 1rem;
  background: #f6f6f6;
  border-left: 2px solid #d0d4c7;
  color: black;
}

blockquote {
  padding: .75rem 1.25rem .75rem .75rem;
  border-left: .5rem solid #ffe564
}

.mainContainer a {
  color: $linkColor;
  text-decoration: underline;
}

.mainContainer a:hover {
  color: $actionColor;
}

.projectTitle {
  font-size: 200%;
  color: rgba(255, 255, 255, 0.7);
}

.projectTitle .projectName {
  display: block;
  margin-top: 10px;
}

.projectTitle img {
  width: 100%;
  height: 18vh;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 15px;
}

.projectTitle small {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
  line-height: 1.9rem;
}

.homeSplashFade {
  min-height: 35vh;
  background: linear-gradient(#121020, #34004B);
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.homeSplashFade .button:hover {
  background-color: #7F4898;
}

.homeSplashFade .button {
  color: white;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 6px;
  margin: 0 10px;
  border: 1px solid white;
}

footer.nav-footer {
  box-shadow: none;
  background: #121020;
  font-size: 15px;
}

input#search_input_react {
  background-color: #5D5262;
}

.headerTitleWithLogo {
  font-weight: normal;
}

.support .wrapper {
  text-align: center;
  max-width: 700px;
}

.contact-form button {
  cursor: pointer;
  margin-top: 1rem;
  text-align: left;
}

.contact-form img {
  width: 24px;
  height: 24px;
}

.contact-form {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.contact-form label {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.contact-form input, .contact-form textarea {
  flex: 1;
  font-size: 15px;
  font-weight: 300;
  color: #000;
  background: transparent;
  outline: none;
  border: 0;
  border-bottom: 1px solid #4d6894;
  line-height: 35px;
  width: 100%;
  margin-top: 1rem;
}

.support small {
  font-size: .75rem;
}

.mainContainer {
  padding-bottom: 0;
}

input::placeholder, textarea::placeholder {
  color: #a0a0a0;
}